# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache

# SQLite
*.db

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env
.flaskenv

# Migrations
migrations/

# Uploaded files
uploads/